<?xml version='1.0' encoding='utf-8'?>
<widget id="org.jlemon.bolt" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="https://phonegap.com/ns/1.0">
    <name>Bolt</name>
    <description>
		A platform to share traveling experiences
	</description>
    <author email="joeyclemon@gmail.com" href="https://jlemon.org">
		Joey Lemon
	</author>
    <icon height="120" platform="ios" src="www/images/icon2x.png" width="120" />
	<splash height="1334" platform="ios" src="splash/ios/iphone_6_7.png" width="750" />
    <preference name="StatusBarOverlaysWebView" value="true" />
    <preference name="StatusBarBackgroundColor" value="#FFFFFF" />
    <preference name="StatusBarDefaultScrollToTop" value="true" />
    <preference name="StatusBarStyle" value="default" />
    <engine name="ios" spec="~4.4.0" />
    <plugin name="cordova-plugin-statusbar" spec="~2.4.1" />
    <plugin name="cordova-plugin-webviewcolor" spec="^2.0.0" />
	<plugin name="cordova-plugin-splashscreen" spec="5.0.1" />
</widget>
